
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
  

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
      

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore
      
# Flow-coverage
#
flow-coverage/
sample/android/app/gradlew
sample/android/app/gradlew.bat
sample/android/app/gradle/wrapper/gradle-wrapper.jar
sample/ios/AdobeMobileLibrary/ADBMobile.h
sample/ios/AdobeMobileLibrary/ADBMobileConfig.json
sample/ios/AdobeMobileLibrary/AdobeMobileLibrary.a
sample/ios/AdobeMobileLibrary/AdobeMobileLibrary_Extension.a
sample/ios/AdobeMobileLibrary/AdobeMobileLibrary_TV.a
sample/ios/AdobeMobileLibrary/AdobeMobileLibrary_Watch.a
ios/AdobeMobileLibrary/ADBMobile.h
ios/AdobeMobileLibrary/ADBMobileConfig.json
ios/AdobeMobileLibrary/AdobeMobileLibrary.a
ios/AdobeMobileLibrary/AdobeMobileLibrary_Extension.a
ios/AdobeMobileLibrary/AdobeMobileLibrary_TV.a
ios/AdobeMobileLibrary/AdobeMobileLibrary_Watch.a
